@import './../../../styles/variables';

.appt-nav {
  display: flex;
  border: 1px solid $color-secondary;
}

.appt-nav__item {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  padding: 15px 45px;
  border-right: 1px solid $color-secondary;
  user-select: none;
  cursor: pointer;
/*  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    left: 100%;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #CAD5E0;
    border-style: solid;
    border-width: 10px;
  }*/
}

.appt-nav__item--active {
  cursor: default;
  background: $color-success;
  color: #fff;
}