@import './../../../styles/variables';

.appt-nav {
  display: flex;
  background: lighten($color-secondary, 12%);
  border: 1px solid $color-secondary;
}

.appt-nav__item {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 9px 0 8px 0;
  white-space: nowrap;
  user-select: none;
  font-size: 0.938rem;
  @extend %font-accent;

  .icon-check {
    stroke: #000;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &::after {
    top: 1px;
    border-color: transparent transparent transparent lighten($color-secondary, 12%);
    border-width: 19px;
  }

  &::before {
    top: 0;
    border-color: transparent transparent transparent $color-secondary;
    border-width: 20px;
  }
}

.appt-nav__item:last-child {
  &::before,
  &::after {
    display: none;
  }
}

.appt-nav__item--active {
  cursor: default;
  background: $color-success;
  color: #fff;

  .icon-check {
    stroke: #fff;
  }

  &::after {
    //fill
    border-color: transparent transparent transparent $color-success;
  }

  &::before {
    //border
    border-color: transparent transparent transparent #fff;
  }
}