.idea/
*.log
google*.html
yandex_*.html
sitemap*.xml
/bitrix/
/webstat/
/upload/
/local/templates/newsmile/node_modules/
local/templates/newsmile/webpack.config.js
local/templates/newsmile/package.json
local/templates/newsmile/package-lock.json
composer.phar

