.tooth-wrap {
  padding: 30px 0;
}
.tooth-card {
  display: flex;
}

.tooth-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 30px auto;
  justify-content: space-around;
}

.tooth-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;

  .icon-tooth {
    margin-bottom: 5px;
  }
}

.tooth-row {
  display: flex;
  margin-bottom: 37px;

  &:nth-child(3),
  &:nth-child(4) {
    .tooth-item {
      flex-direction: column-reverse;
    }
  }

}

.tooth-item__wrap {
  position: relative;
  cursor: pointer;
}

.tooth-roll__wrap {
  position: absolute;
  z-index: 2;
  top: -135%;
  left: -170%;
  animation: fadeIn .2s, rotateIn .5s;
}

@keyframes rotateIn {
  from { transform: rotate(-360deg); }
  to   { transform: rotate(0deg); }
}