.preloader-ajax {
    position: absolute;
    height: 30px;
    width: 30px;
    background: url('../img/loader.gif') no-repeat center;
}

.tablebodytext {
    display: none
}

.patients-list {
    margin-left: 80px;
}
