.tooth-card {
  display: flex;
}

.tooth-list {
  display: flex;
}

.tooth-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;

  .icon-tooth {
    margin-bottom: 5px;
  }
}