@import './../../styles/variables';

.appt-form {
  width: 50%;
  padding: 40px 44px 0 0;
  border-right: 1px solid $color-secondary;
}

.appt-explorer {
  padding: 44px 47px;
}

.appt-explorer__title {
  font-size: 1rem;
  @extend %font-accent;
}

.appt-explorer__desc {
  max-width: 400px;
}