.place__list {
  display: flex;
  align-items: center;
}

.place__list {
  position: relative;
}

.place__listMore {
  z-index: 1;
  position: absolute;
  top: -27px;
  left: 0;
  min-width: 350px;
  height: 100vh;
  padding: 30px 23px;
  background-color: rgba(36, 41, 47, .908);
}

.place__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 15px;
  padding-bottom: 50px;
  border-bottom: 1px solid #727272;
  color: #fff;
}

.header_drwnarrTop {
  transform: rotate(180deg);
}
