// COMMON
@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/sprites';
@import 'styles/vendor';
@import 'styles/base';

.App {
  display: flex;
  position: relative;
}

.indent-default {
  padding-left: 47px;
  padding-right: 47px;
 }

.main-content {
  flex-grow: 1;
}
