@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&subset=cyrillic');
// colors
$sea: #00d6d6;
$pink-red: #fa004c;
$apple: #8db62a;
$smoke: #d5d5d5;
$lemon: #f9d905;
$black: #000000;
$white: #ffffff;
$mango: #ffae00;
$grape: #8a00ff;

// DEFAULT THEME

$color-accent: $sea;
$color-success: $apple;
$color-danger: $pink-red;
$color-secondary: $smoke;
$color-secondary-light: lighten($smoke, 12%);

// FONTS

// RUBIK

// regular

%font-main {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 400;
}

// medium

%font-accent {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
}

// SHADOWS

%shadow-main {
  box-shadow: 0px 10px 51px 0 rgba(0, 0, 0, 0.09);
}

//helpers

%abs-center {
  position: absolute;
  top: 0px; left: 0; bottom: 0; right: 0;
  margin: auto;
}